<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <connectionStrings>
    <add name="PersonalFinancialsDB" connectionString="Server=localhost\SQLEXPRESS;Database=PersonalFinancialsDBProd;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="PersonalFinancialsDBProd" connectionString="Server=localhost\SQLEXPRESS;Database=PersonalFinancialsDBProd;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Default selection, can be changed by user -->
    <add key="SelectedDatabase" value="PersonalFinancialsDB" />
    <!-- Paths for Import and Export -->
    <add key="ExportLocation" value="D:\2 R&amp;D\PersonalFinancials\ImportExport\Export" />
    <add key="ImportLocation" value="D:\2 R&amp;D\PersonalFinancials\ImportExport\Import" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.2" newVersion="9.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
